.languageDropdownContainer {
    position: relative;
    width: 100%;
    display: flex;
  

}

.select-btn {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 50px;
}

.languageOptions {
    position: absolute;
    list-style-type: none;
    overflow: auto;
    background: #FFFFFF;
    -moz-box-shadow: 0 0 5px rgb(230, 229, 229);
    -webkit-box-shadow: 0 0 5px rgb(227, 227, 227);
    box-shadow: 0 0 5px rgb(231, 231, 231);
    padding: 3px 0px 3px 0px;
    border-radius: 5px;
    z-index: 10;
    /* overflow-y: scroll; */
}

.li {
    font-weight: 400;
    font-size: 20px;
    padding: 15px 5px;
    cursor: pointer;
    color: black;
    border-bottom: 1px solid #f4f4f4;
}
.li:hover {
    background: #EFEFEF;
    color:rgb(69, 170, 242);
}